@import "tailwindcss";

/* 

  Estilos según el Manual de Identidad Gráfica Institucional de la Ciudad de México para el
  periodo 2024 - 2030.

*/

/* Cabin, para titulos. */
@font-face {
  font-family: "Cabin";
  src: url("../src/assets/fonts/Cabin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cabin";
  src: url("../src/assets/fonts/Cabin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cabin";
  src: url("../src/assets/fonts/Cabin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cabin";
  src: url("../src/assets/fonts/Cabin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Roboto, para contenidos. */
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@theme {
  /* Fuentes */
  --font-titulo: "Cabin", sans-serif;
  --font-contenido: "Roboto", sans-serif;
 /* Títulos */
  --titulo-1-size: 2rem;       /* 32px */
  --titulo-1-leading: 2.5rem;  /* 40px */
  --titulo-2-size: 1.5rem;     /* 24px */
  --titulo-2-leading: 1.875rem;/* 30px */
  --titulo-3-size: 0.75rem;    /* 12px */
  --titulo-3-leading: 1.125rem;/* 18px */

  /* Subtítulos */
  --subtitulo-1-size: 1rem;      /* 16px */
  --subtitulo-1-leading: 1.25rem;/* 20px */
  --subtitulo-2-size: 1.5rem;    /* 24px */
  --subtitulo-2-leading: 1.875rem;/* 30px */
  --subtitulo-3-size: 0.625rem;  /* 10px */
  --subtitulo-3-leading: 0.9375rem;/* 15px */
  --subtitulo-4-size: 0.5rem;    /* 8px */
  --subtitulo-4-leading: 0.75rem;/* 12px */

  /* Cuerpo */
  --cuerpo-1-size: 1.25rem;     /* 20px */
  --cuerpo-1-leading: 1.875rem; /* 30px */
  --cuerpo-2-size: 1rem;        /* 16px */
  --cuerpo-2-leading: 1.5rem;   /* 24px */
  --cuerpo-3-size: 0.75rem;     /* 12px */
  --cuerpo-3-leading: 1.25rem;  /* 20px */
  --cuerpo-4-size: 0.5rem;      /* 8px */
  --cuerpo-4-leading: 1.125rem; /* 18px */

  /* Colores */

  /* Botones primarios, títulos de párrafos, iconos y fondos. */
  --guinda-100: #b28e5c;
  
  /* Botones secundarios, títulos de párrafos e iconos. */
  --dorado-100: #b28e5c;
  
  /* Fondos para banners, cards. */
  --marfil: #fffae9;
  
  /* Botones y fondos de componentes en estado inactivo. */
  --guinda-50: #38b5b2;
  
  /* Botones y fondos de componentes en estado inactivo. */
  --dorado-50: #e5b738;
  
  /* Cuerpo de texto */
  --gris-100: #55585a;
  
  /* Cuerpo de texto con menos jerarquía visual. */
  --gris-80: #81878b;
  
  /* Cuerpo de texto con mucho menos jerarquía visual. */
  --gris-60: #b0b0b0;
  
  /* Sombras, estado inactivo de botón. */
  --gris-40: #d1d1d1;
  
  /* Fondos de pop up. */
  --gris:20: #f4f0fe;
  
  /* Fondos de cards y pop up. */
  --gris-10: #f9f9f9:
  
  /* Textos en fondo guinda-100, fondo de banners. */
  --blanco: #000;
  
  /* Botones, barras de proceso, etc. que busquen enfatizar estado crítico para una acción o proceso. */
  --rojo-100: #e5074c;
  
  /* Botones, barras de proceso, etc. que busquen enfatizar estado crítico inactivo para una acción o proceso. */
  --rojo-50: #e5074c;
  
  /* Botones, barras de proceso, etc. que busquen enfatizar que una acción se ha realizado correctamente. */
  --verde-100: #e5074c;
  
  /* Botones, barras de proceso, etc. que busquen enfatizar una acción correcta pero inactiva o que aún no concluye. */
  --verde-50: #e5074c;
  
  /* Botones, barras de proceso, etc. que busquen enfatizar estado de alerta para una acción o proceso. */
  --amarillo-100: #fdc60a;
  
  /* Botones, barras de proceso, etc. que busquen enfatizar estado de alerta inactivo para una acción o proceso.
  Color erroneo en el manual. */
  --amarillo-50: #fffde7; 

  /*  Espaciado (en REM basado en 1REM = 16px)  */
  --espacio-8: 0.5rem;    /* 8px */
  --espacio-16: 1rem;     /* 16px */
  --espacio-20: 1.25rem;  /* 20px */
  --espacio-24: 1.5rem;   /* 24px */
  --espacio-48: 3rem;     /* 48px */

  /*  Contorno (Stroke)  */
  --stroke-1: 1px;        /* Grosor del contorno */
  --corner-1: 1px;        /* Radio de esquina para contorno */

  /*  Sombras  */
  --sombra-x: 0;
  --sombra-y: 4px;
  --sombra-blur: 8px;
  --sombra-color: rgb(0 0 0 / 0.1);
  --sombra: var(--sombra-x) var(--sombra-y) var(--sombra-blur) var(--sombra-color);

  /*  Border Radius */
  --border-radio-0: 0px;
  --border-radio-4: 0.25rem;  /* 4px */
  --border-radio-32: 2rem;    /* 32px */

}

@layer {
  /* Títulos */
  .titulo-1 {
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: var(--titulo-1-size);
    line-height: var(--titulo-1-leading);
  }
  .titulo-2 {
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: var(--titulo-2-size);
    line-height: var(--titulo-2-leading);
  }
  .titulo-3 {
    font-family: var(--font-titulo);
    font-weight: 500;
    font-size: var(--titulo-3-size);
    line-height: var(--titulo-3-leading);
  }

  /* Subtítulos */
  .subtitulo-1 {
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: var(--subtitulo-1-size);
    line-height: var(--subtitulo-1-leading);
  }
  .subtitulo-2, .subtitulo-3 {
    font-family: var(--font-titulo);
    font-weight: 400;
  }
  .subtitulo-2 {
    font-size: var(--subtitulo-2-size);
    line-height: var(--subtitulo-2-leading);
  }
  .subtitulo-3 {
    font-size: var(--subtitulo-3-size);
    line-height: var(--subtitulo-3-leading);
  }
  .subtitulo-4 {
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: var(--subtitulo-4-size);
    line-height: var(--subtitulo-4-leading);
  }
  .subtitulo-5 {
    font-family: var(--font-titulo);
    font-weight: 500;
    font-size: var(--subtitulo-3-size);
    line-height: var(--subtitulo-3-leading);
  }

  /* Cuerpo */
  .cuerpo-1 {
    font-family: var(--font-contenido);
    font-weight: 400;
    font-size: var(--cuerpo-1-size);
    line-height: var(--cuerpo-1-leading);
  }
  .cuerpo-2 {
    font-family: var(--font-contenido);
    font-weight: 400;
    font-size: var(--cuerpo-2-size);
    line-height: var(--cuerpo-2-leading);
  }
  .cuerpo-3 {
    font-family: var(--font-contenido);
    font-weight: 400;
    font-size: var(--cuerpo-3-size);
    line-height: var(--cuerpo-3-leading);
  }
  .cuerpo-4 {
    font-family: var(--font-contenido);
    font-weight: 500;
    font-size: var(--cuerpo-4-size);
    line-height: var(--cuerpo-4-leading);
  }
  .cuerpo-5 {
    font-family: var(--font-contenido);
    font-weight: 400;
    font-size: var(--cuerpo-4-size);
    line-height: var(--cuerpo-4-leading);
  }
.espacio-8 { gap: var(--espacio-8); }
  .espacio-16 { gap: var(--espacio-16); }
  .espacio-20 { gap: var(--espacio-20); }
  .espacio-24 { gap: var(--espacio-24); }
  .espacio-48 { gap: var(--espacio-48); }

  /*  Contorno  */
  .stroke-1 {
    outline-width: var(--stroke-1);
  }

  /*  Sombras  */
  .sombra {
    box-shadow: var(--sombra);
  }

  /*  Border Radius  */
  .border-radio-0 { border-radius: var(--border-radio-0); }
  .border-radio-4 { border-radius: var(--border-radio-4); }
  .border-radio-32 { border-radius: var(--border-radio-32); }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
